body {
    margin: 0px;
}
.container {
    width: 100%;
    max-width: 2550px;
    height: 724px;
    background-color: #6467ab;
    padding-top: 80px;
    padding-left: 101px;
    padding-right: 101px;
    margin: 0px;
    display: flex;
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 36pt;
}

@font-face {
    font-family: 'Lobster';
    src: url('Lobster-Regular.ttf') format("truetype");
    font-style: normal;
    font-weight: normal;   
}

@font-face {
    font-family: 'LatoReg';
    src: url('Lato-Regular.ttf') format("truetype");
    font-style: normal;
    font-weight: normal;   
}